# Ignore everything
*

# Track project files
!.editorconfig
!.envrc
!.gitignore
!.rustfmt.toml
!.taplo.toml
!flake.lock
!Cargo.lock
!Cargo.toml
!deny.toml
!README.md
!LICENSE

# CI
!.github/
!.github/workflows/
!.github/workflows/ci.yml

# Example config
!config/
!config/teapot.example.toml

# Session example
!sessions.example.jsonl

# Source
!src/
!src/**

# Static assets
!public/
!public/**

# Nix
!.tack/
!.tack/default.nix
!.tack/pins.toml
!.tack/pins.lock.json
!flake.nix
!nix/
!nix/package.nix
